body {
    background: red;
}

#navbar {
    flex-direction: column;
}


/* navigation  */

#navbar {}


/* home */

#home {
    height: 280px;
}


/* services  */

#services {
    flex-direction: column;
}

#service.box {}


/* clints  */

clints {
    overflow: hidden;
}